<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>wlyChat.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Jabber</servlet-name>
		<servlet-class>org.jabber.JabberHTTPBind.JHBServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jabber</servlet-name>
		<url-pattern>/JHB</url-pattern>
	</servlet-mapping>
</web-app>
